<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDrlI4mT-4TtS5abKzRRd77kXOWCp_G5e8</string>
	<key>GCM_SENDER_ID</key>
	<string>813808348678</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ummanbabayev.ToDoAppSwiftUI</string>
	<key>PROJECT_ID</key>
	<string>todoappswiftui-19a40</string>
	<key>STORAGE_BUCKET</key>
	<string>todoappswiftui-19a40.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:813808348678:ios:e15cb805ba42e065055d87</string>
</dict>
</plist>